.navbar {
	background-color: transparent;
}
.ml-auto {
	margin-right: 110px;
}
body {
	background-color: black;
	margin: 0;
}
h1 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}
h4 {
	font-family: Helvetica;
}
.container-fluid {
	text-align: center;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
/* arrow animation */
#more-arrows {
	width: 75px;
	height: 65px;
}
#more-arrows:hover polygon {
	fill: #ff824e;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
	-webkit-transform: translateY(-18px);
	transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
	-webkit-transform: translateY(18px);
	transform: translateY(18px);
}

polygon {
	fill: #ff824e;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
polygon.arrow-middle {
	opacity: 0.75;
}
polygon.arrow-top {
	opacity: 0.5;
}

/* Contact Card */
/* entire container, keeps perspective */
/* .flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
/* .flip-container:hover .flipper,
.flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
	width: 320px;
	height: 480px;
	text-align: center;
	color: red;
} */

/* flip speed goes here */
/* .flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
} */

/* hide back of pane during swap */
/* .front,
.back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
} */

/* front pane, placed above back */
/* .front {
	z-index: 2;
	/* for firefox 31 */
/* transform: rotateY(0deg); */

/* back, initially hidden pane */
/* .back {
	transform: rotateY(180deg);
	background-color: white;
} */
/* .contact-card {
	margin: 50px;
}  */
/* Contact Form */
body {
	margin: 0;
	padding: 0;
}

#contact {
	width: 100%;
	height: 70vh;
	background-color: #111;
	overflow: hidden;
	padding-bottom: 200px;
}

.section-header {
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
	margin-bottom: 50px;
	/* font: 300 60px 'Oswald', sans-serif; */
	/* letter-spacing: 6px; */
	color: #fff;
	margin-bottom: 25px;
}

.contact-wrapper {
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
	max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
	float: left;
	max-width: 400px;
	font-family: 'Lato';
	font-weight: 400;
}

.form-control,
textarea {
	max-width: 400px;
	background-color: #111;
	color: #fff;
	letter-spacing: 1px;
}

.send-button {
	margin-top: 15px;
	height: 34px;
	width: 400px;
	overflow: hidden;
	transition: all .2s ease-in-out;
}

.button {
	width: 400px;
	height: 34px;
	transition: all .2s ease-in-out;
}

.send-text {
	display: block;
	margin-top: 10px;
	font: 300 14px 'Lato', sans-serif;
	letter-spacing: 2px;
}

.button:hover {
	transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
	max-width: 400px;
	float: right;
	margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
	list-style-type: none;
	margin-left: -30px;
	padding-right: 20px;
}

.list-item {
	line-height: 4;
	color: #aaa;
}

.contact-text {
	font: 300 18px 'Lato', sans-serif;
	letter-spacing: 1.9px;
	color: #bbb;
}

.place {
	margin-left: 50px;
}

.phone {
	margin-left: 50px;
}

.gmail {
	margin-left: 50px;
}

.contact-text a {
	color: #bbb;
	text-decoration: none;
	transition-duration: 0.2s;
}

.contact-text a:hover {
	color: #fff;
	text-decoration: none;
}

hr {
	border-color: rgba(255, 255, 255, .8);
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
	#contact {
		height: 1000px;
	}
	.section-header {
		font-size: 65px;
	}
	.direct-contact-container,
	.form-horizontal {
		float: none;
		margin: 10px auto;
	}
	.direct-contact-container {
		margin-top: 60px;
		max-width: 300px;
	}
	.social-media-list li {
		height: 60px;
		width: 60px;
		line-height: 60px;
	}
	.social-media-list li:after {
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
}

@media screen and (max-width: 569px) {
	#contact {
		height: 1200px;
	}
	.section-header {
		font-size: 50px;
	}
	.direct-contact-container,
	.form-wrapper {
		float: none;
		margin: 0 auto;
	}
	.form-control,
	textarea {
		max-width: 340px;
		margin: 0 auto;
	}

	.name,
	.email,
	textarea {
		width: 280px;
	}
	.direct-contact-container {
		margin-top: 60px;
		max-width: 280px;
	}
	.social-media-list {
		left: 0;
	}
	.social-media-list li {
		height: 55px;
		width: 55px;
		line-height: 55px;
		font-size: 2rem;
	}
	.social-media-list li:after {
		width: 55px;
		height: 55px;
		line-height: 55px;
	}
}

@media screen and (max-width: 410px) {
	.send-button {
		width: 99%;
	}
}
